%main#snapgame
- if @photos
  -@photos.each do |photo_url|
    - i = 1
    .flipper
      .window
        - if current_user
          %img{class: "image#{@photos.index(photo_url)}", src: "#{photo_url}"}
        - else
          =image_tag photo_url, class: "image#{@photos.index(photo_url)}"
      .front
        - if current_user
          %img.front_image{src: "#{current_user.image_url}"}
        - else
          = image_tag "digg.png", class: "front_image"
= render 'game_over'
= javascript_include_tag "snapgame"

