!!!
%html
  %head
    %title FlipGame
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    #container.container
      %header
        - if current_user
          = link_to "Log out", destroy_user_session_path, method: :delete
        - else
          = link_to "Create a game with your facebook images", user_omniauth_authorize_path(:facebook), id: "login_link"
        = render 'layouts/messages'
      #main{:role => "main"}
        - unless current_user
          = render 'layouts/login'
        = yield
      %footer
        = link_to "privacy policy", privacy_policy_path
